*{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
header img{
    width: 10%;
    border-radius: 15%;
    padding: 20px;

}
.size{
    font-size: 1.5em;
    font-weight: bold;
}
.gra{
    color: gray;
}
nav{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.item{
   
    background-color: rgb(231, 227, 227);
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    width: 5%;
}
.siz{
    font-weight: bold;
    font-size: 1.5em;
}
section{
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;

}
.contaier{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.border, .boder{
    border-radius: 10px;
    width: 240px;
    height: 200px;
}

.borer, .boer{
    border-radius: 10px;
    width: 500px;
    height: 200px;
} 
.images{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.image{
    display: flex;
    gap: 15px;
}

.bbor2{
    width: 240px;
    height: 415px;
    border-radius: 10px;
}

@media screen and (max-width:1500px) {
    header img{
        width: 30%;
        padding: 15px;
    }
    .item{
        width: 15%;
    }
     .container{
        display: flex;
        gap: 15px;
        
     }
     .contaier{
        display: flex;
        gap: 5px;
        margin: 15px;
       }
        .border{
            width: 30%;
            height: 200px;
        }
        .boder{
            width: 40%;
            height: 200px;
        }
        .borer{
            width: 60%;
            height: 200px;
        }
        .boer{
            width: 90%;
            height: 200px;
        }
        .bbor2{
            width: 100%;
            height: 415px;
        }
        .image{
            display: flex;
            
            gap: 15px;
        } 
}